@import "../../theme/vars";

/* -=== ScrollBar ===- */
.scrollBar {
  &::-webkit-scrollbar {
    width:7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:hover {
    border-color: #555;
    background-color: #777;
  }
  &::-webkit-scrollbar-track {
    border-width:0;
    background-color: transparent;
  }
  &::-webkit-scrollbar-track:hover {
    background-color: #cecece;
  }
}
/* -=== ScrollBar ===- */

.conversations-list {
  list-style: none;
  padding-top: 15px;
  max-height: calc(92% + 3px);
  height: calc(92% + 3px);
  overflow-y: auto;

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #aaa;
    }
  }
  @extend .scrollBar;

  .wrapper-avatars {
    width: 45px;
    height: 45px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 50%;
    background: white;
    overflow: hidden;

    img {
      height: 45px;
      width: 45px;
    }

    .grid-half {
      height: 45px;
      width: 22.5px;
      margin-left: -1px;
      overflow: hidden;

      &:first-child {
        border-right: 1px solid #fff;
      }

      &:nth-child(2) {
        margin-left: 0.5px;
        width: 22px;
      }

      img {
        margin-left: -8px;
      }
    }
    .grid-fourth {
      height: 22.5px;
      width: 22.5px;

      &:first-child {
        border-bottom: 1px solid #fff;
        overflow: hidden;
        margin-top: -1px;
      }

      &:nth-child(2) {
        margin-top: 0.5px;
        height: 22px;
      }

      img {
        width: 22.5px;
        height: 22.5px;
        margin-left: 0;
      }
    }
  }

  > div:not(.messages-search) {
    position: relative;

    &:hover {
      background: $default-bg !important;
      .conversation-settings { display: block; }
    }

    .conversation-settings {
      position: absolute;
      right: 9px;
      top: 40px;
      //display: block;
      height: 100%;
      width: 20px;
      padding-left: 5px;
      display: none;

      &:hover {
        > div {
          display: block;
        }
      }

      i {
        background: url('../../img/Icons/gear.svg');
        width: 15px;
        height: 15px;
        display: block;
        //position: absolute;
        //right: 10px;
        //top: 35px;
      }
      > div {
        position: absolute;
        right: 0;
        font-size: 13px;
        background-color: #fff;
        z-index: 2;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 3px;
        box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
        width: 195px;
        top: 16px;
        //height: 50px;
        display: none;
      }

      ul {
        padding: 5px 0;
      }

      li {
        //padding: 0 10px;
        height: 20px;
        padding: 2px 24px;
        cursor: pointer;

        &:hover {
          background: $default-bg;
        }
      }
    }
  }
  a.active {
    background: #efefef !important;
  }

  a {
    display: block;
    padding: 10px 10px 10px 15px;
    cursor: pointer;
    position: relative;

    &:hover {
      color: #333;
    }

    &:focus {
      color: #333;
      text-decoration: none;
    }

    li {
      display: flex;
    }

    span {
      position: absolute;
      right: 13px;
      top: 13px;
      font-size: 10px;
      color: #8C9097;

      &:hover {
        ~ .tooltip-date {
          display: block;
        }
      }
    }

    .tooltip-date {
      display: none;
      position: absolute;
      right: 5px;
      top: 30px;
      background: #333;
      color: #fff;
      padding: 3px 6px;
      font-size: 13px;
      z-index: 2;
    }

    //img {
    //  width: 45px;
    //  height: 45px;
    //  border-radius: 50%;
    //}

    h5 {
      font-weight: 500;
      margin-top: 5px;
      margin-left: 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 190px;
    }

    p {
      position: absolute;
      top: 35px;
      left: 70px;
      width: 200px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .conversation-settings {
    //display: none;
  }
}

.messages-box {
  padding: 20px;
  min-height: 400px;
  max-height: calc(80% + 35px);
  overflow-y: auto;

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #aaa;
    }
  }
  @extend .scrollBar;
}

.time-divider {
  margin: 15px 0 25px;
  text-align: center;
  padding-left: 0;
  width: 100%;
  border-bottom: 1px solid #D9D9D9;
  line-height: .1em;

  span {
    background: #fff;
    padding: 0 15px;
    font-size: 12px;
    color: $gray-light-hover;
  }
}

.messages-post {
  position: relative;
  padding-bottom: 10px;

  &:hover {
    .wrapper-time-settings {
      display: inline-flex;
    }
  }

  .wrapper-time-settings {
    display: none;
    height: 15px;
    flex-direction: inherit;
    position: relative;
  }

  > div {
    display: inline-flex;
  }

  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  h5 {
    font-weight: 500;
    margin-left: 15px;
  }

  p {
    position: relative;
    top: -15px;
    left: 46px;
    width: 400px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  span {
    margin-left: 10px;
    font-size: 12px;
    color: $gray-light-hover;
    height: 100%;
  }

  .message-settings {
    width: 25px;
    padding: 0 10px;
    cursor: pointer;

    &:hover {
      > div {
        display: block;
      }
    }

    i {
      font-size: 34px;
      color: $gray-light-hover;
      line-height: 0;
      letter-spacing: -2px;
      height: 100%;
      display: block;
      margin-top: -2px;
    }

    > div {
      position: absolute;
      display: none;
      background-color: #333;
      border-radius: 8px;
      border: 1px solid #333;
      width: 55px;
      height: 22px;
      top: -4px;
      left: 85px;
    }

    li {
      color: #fff;
      text-align: center;
      font-size: 13px;
      padding: 2px 5px;
    }
  }
}

.messages-post-reverse {
  padding-bottom: 29px;

  > div {
    flex-direction: row-reverse;
    display: flex;
    width: 100%;
  }

  h5 {
    margin-left: 0;
    margin-right: 15px;
  }

  p {
    float: right;
    text-align: right;
    left: -46px;
  }

  span {
    margin-right: 10px;
    margin-left: 0;
    width: 30px;
  }

  .message-settings {
    right: 35px;

    > div {
      left: -60px;
    }
  }
}

.messages-post-tech {
  min-height: 32px;
  text-align: center;

  p {
    font-size: 13px;
    color: #656565;
  }
}

.messages-send {
  background: #fff;
  border-top: 1px solid $border-color;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  position: absolute;
  bottom: 0;
  width: 528px;
  //background: $default-bg;

  .wrapper {
    display: flex;
    flex-direction: column;
    //padding: 15px 20px;
    padding: 5px 10px;

    textarea {
      //border: 1px solid #ddd;
      border-radius: 2px;
      font-size: 12px;
      padding: 10px;
      margin: 0;
      max-height: 200px;
      min-height: 35px;
      overflow-y: auto;
      overflow-x: hidden;
      resize: none;
      word-wrap: break-word;
      box-sizing: border-box;
      outline: 0;
      border: 0;
    }
  }
}

.messages-btn {
  cursor: pointer;
    background: $brand;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    border: 0;
    height: 30px;
    width: 130px;
    margin-top: 15px;
    align-self: flex-end;
}

.messages-send-field {
  margin-top: 15px;
}


.messages-content {
  height: 90%;
  position: fixed;
  margin-left: 300px;
  background: #fff;
  border: 1px solid $border-color;
  width: 528px;

  .wrapper {
    position: relative;
    height: 100%;
  }
}

.messages-search {
  &:hover {
    background: transparent !important;
  }

  input {
    width: 225px;
    padding: 5px 15px 5px 30px;
    height: 23px;
    border: none;
    background: #f5f5f5;
    border-radius: 2px;
    margin-left: 15px;

    &:focus {
      outline-color: rgba(0, 0, 0, 0.12);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.24);
      background: #fff;
    }
  }

  i {
    display: block;
    background: $sprite -78px -19px;
    height: 15px;
    width: 15px;
    position: relative;
    left: 23px;
    top: -24px;
  }
}

.messages-mnu {
  height: 90%;
  position: fixed;
  width: 300px;
  background: #fff;
  border: 1px solid $border-color;
  align-self: baseline;
  margin-right: 20px
}


// === New Message ===
.new-message {
  i {
    background: url('../../img/Icons/plus.svg');
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 13px;
    top: 13px;
    cursor: pointer;
  }
}

.row-new-message {
  width: 92%;
}

.list-of-found-users {
  font-weight: normal;
  font-size: 12px;
  //height: 20px;
  position: relative;
  left: 5px;
  top: 7px;

  span {
    background-color: #76cbef;
    padding: 1px 6px;
    border-radius: 2px;
    margin: 0 3px;
  }
}

.messages-input {
  padding: 1px 12px;
  font-size: 14px;
  color: #555555;
  background-image: none;
  //border: 1px solid #ccc;
  //border-radius: 2px;
  //box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  font-weight: normal;
  border: none;
  outline: none;
  left: 23px;
}

.wrapper-find-users {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .20);
  border-radius: 2px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .20);
  margin-top: 11px;
  width: 320px;
  max-height: 450px;
  position: absolute;
  z-index: 1;

  .found-user {
    display: flex;
    padding: 6px 12px;
    cursor: pointer;

    &:hover {
      background-color: #E1E1E1;
    }

    img {
      width: 32px;
      height: 32px;
      border-radius: 2px;
      min-width: 32px;
    }

    p {
      width: 100%;
      padding-top: 7px;
      padding-left: 15px;
      font-size: 14px;
      font-weight: normal;
    }
  }
}

.new-messages-form {
  display: flex;
  font-family: "Roboto", Arial, sans-serif;

  .form-control {
    margin-top: 4px;
    border: 0;
    box-shadow: none;
    height: 100%;
    padding: 3px 6px;
    font-weight: 400;
  }
}
// === New Message END ===


@media (max-width: 991px) {
  .messages-mnu {
    width: 30%;
    margin-left: 5%;
    margin-right: 0;
  }

  .messages-content {
    margin-left: 35%;
    width: 60%;
  }

  .messages-send {
    width: 100%;
  }

  .messages-element-wrapper {
    width: calc(100% - 25px);
  }

  .messages-search {
    width: calc(100% - 60px);
  }

  .conversations-list a p {
    width: 65%;
  }
}
