@import "../../../theme/vars";
@import "../../../theme/mixins";

.channels {
  //&::before {
  //  content: '';
  //  display: block;
  //  width: auto;
  //  border-top: 1px solid #ddd;
  //  margin: 10px 10px 5px 20px;
  //}

  .title {
    @include title-nav;
    //padding-top: 15px;
    //padding-left: 30px;
    padding-bottom: 10px;

    //&:hover {
    //  ~ .create-new-item {
    //    display: block;
    //  }
    //}
  }

  .sidebar {
    width: 295px;

    &:hover {
      .create-new-item {
        display: block;
      }
    }

    ul > a.active > li {
      padding-left: 15px;
    }

    li {
      padding: 8px;
      padding-left: 19px;

      &:before {
        content: '';
        display: inline-block;
        background: $sprite -71px -315px;
        width: 16px;
        height: 16px;
        border: 1px solid $gray;
        margin-right: 15px;
        position: relative;
        top: 2px;
      }
    }
  }


  .create-new-item {
    padding-left: 8px;
    //padding-top: 15px;
    display: none;
  }
}

/* === Add Channel === */
.channel-element-wrapper {
  .form-control {
    height: 25px;
    width: 542px;
    padding: 4px 12px;
  }
}

.channel-form {
  .channel-label {
    padding-top: 15px !important;
    padding-bottom: 10px;
    font-weight: 500;
  }
}

.modal-channel {
  .modal-body {
    padding-top: 0;
  }
}

/* === Add Channel End === */
