/* === Import Variables === */
@import "../../../theme/vars";
@import "../../../theme/mixins";

/* -- InfoBloks Start -- */
.infobloks {
  display: flex;
  flex-direction: column;
  flex: 0 0 320px;

  .bookstree {
    flex: 0 0 220px;
  }

  .bookstree .wrapper {
    width: 220px !important;
  }
}

/* -- InfoBloks End -- */

/* === Title Start === */
.title-infoblocks {
  padding: 15px;
  font-size: 16px;

  a {
    color: $default-color;

    &:hover {
      text-decoration: underline;
    }

    span {
      color: #999;
      font-size: 14px;
    }
  }
}

.cutaway-icon, .token-icon, .photos-icon, .peoples-icon, .booktree-icon {
  content: '';
  display: inline-block;
  position: relative;
}

.booktree-icon {
  background: url('../../../img/Icons/book-icon-white.svg') no-repeat;
  height: 22px;
  width: 22px;
  content: '';
  display: inline-block;
  margin-right: 10px;
  //top: 5px;
}

.cutaway-icon {
  background: url('../../../img/Icons/info-icon.png') no-repeat;
  height: 20px;
  width: 22px;
  content: '';
  display: inline-block;
  margin-right: 10px;
  top: 3px;
}

.token-icon {
  background: $sprite;
  background-position: 0 -197px;
  height: 12px;
  width: 20px;
  margin-right: 10px;
  top: 2px;
}

.photos-icon {
  background: $sprite;
  background-position: -46px -366px;
  height: 13px;
  width: 17px;
  margin-right: 12px;
}

.peoples-icon {
  background: $sprite;
  background-position: -55px -501px;
  height: 14px;
  width: 25px;
  //margin-right: 5px;
}

/* === Title End === */

/* === Common Tokensa Start === */
.infoblocks-cutaway, .infoblocks-peoples, .infoblocks-photos, .infoblocks-documents {
  background: #fff;
  border: 1px solid $border-color;
  min-height: 200px;
  font-size: 14px;
  color: $default-color;
  margin-bottom: 20px;;
  // flex: auto;
  // display: flex;
  @include material;
}

/* === Common End === */

.infoblocks-cutaway {
  padding: 15px 13px 15px 15px;
  max-width: 320px;
  min-height: 100px;

  &:hover {
    .settings-edit {
      display: block;
    }
  }

  .title-infoblocks {
    position: relative;
    padding: 0;
    margin-bottom: 15px;
  }

  .wrapper {
    //overflow: hidden;
    font-size: 13px;
    margin-bottom: 15px;
  }

  .settings-edit {
    position: absolute;
    right: 1px;
    top: -3px;
    display: none;

    i {
      background: $sprite -160px -226px;
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
    }
  }

  .bio {
    text-align: center;
    margin-bottom: 15px;

    hr {
      margin: 5px 0;
    }
  }

  .occupation,
  .company,
  .country,
  .location,
  .birthday,
  .phone,
  .websites {
    display: flex;
    line-height: 22px;
    overflow: hidden;
    white-space: nowrap;
    padding: 4px 0;

    i {
      width: 16px;
      height: 16px;
      display: block;
    }

    p {
      position: absolute;
      margin-left: 25px;
      max-width: 270px;
      overflow: hidden;
      text-overflow: ellipsis;

      a {
        cursor: pointer;
        color: $gray;
      }
    }
  }

  .company i {
    background: url('../../../img/Icons/company.svg');
  }

  .location i {
    background: url('../../../img/Icons/location.svg');
  }

  .birthday i {
    background: url('../../../img/Icons/birthday.svg');
  }

  .phone i {
    background: url('../../../img/Icons/phone.svg');
  }

  .websites i {
    background: url('../../../img/Icons/website.svg');
  }

  .social-network-container {
    height: 16px;
    padding: 4px 0 0;

    .social-network-icon {
      vertical-align: middle;
      margin-right: 8px;
      display: inline-block;
      background: url(../../img/Icons/websites.svg) no-repeat;
      width: 16px;
      height: 16px;
    }

    .facebook,
    .twitter,
    .linkedin,
    .skype {
      vertical-align: middle;
      background: $sprite;
      display: inline-block;
      margin-right: 5px;
    }

    .facebook {
      background-position: -137px -218px;
      height: 18px;
      width: 10px;

      &:hover {
        background-position: -149px -218px;
      }
    }

    .twitter {
      background-position: -131px -239px;
      height: 13px;
      width: 17px;

      &:hover {
        background-position: -147px -239px;
      }
    }

    .linkedin {
      background-position: -133px -254px;
      height: 15px;
      width: 15px;

      &:hover {
        background-position: -149px -254px;
      }
    }

    .skype {
      background-position: -127px -271px;
      height: 13px;
      width: 14px;

      &:hover {
        background-position: -142px -271px;
      }
    }
  }

  .above-human-card {
    margin: 0;
    margin-bottom: 15px;
  }

  .infoblock-human-card {
    position: relative;
    min-height: 160px;

    .human-card {
      width: 260px;
      box-shadow: none;
      cursor: pointer;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);

      &:hover {
        h1 {
          border-bottom: 1px solid #36364F
        }
      }
    }

    // .buttons-container {
    //   font-size: 13px !important;

    //   .review-proofs {
    //     position: absolute;
    //     right: 0;
    //     top: 168px;

    //     a {
    //       color: #777;
    //     }
    //   }

    //   .validate-button {

    //     .btn-sign {
    //       font-size: 13px;
    //       font-weight: 500;
    //     }
    //   }
    // }
  }

  .below-human-card {
    margin: 14px 0 0;
  }
}

/* === Documents Start === */
.infoblocks-documents {
  min-height: 100px;
  padding-bottom: 5px;
}

.documents-mnu {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;

  a {
    text-decoration: none;
    color: $default-color;
    display: block;

    &:hover {
      background: $bg-hover;
    }
  }
}

.documents-list {
  padding: 5px 0;
}

.infoblocks-documents,
.documents-mnu-inbox,
.documents-mnu-board,
.documents-mnu-wallet,
.documents-mnu-box-private,
.documents-mnu-box,
.documents-mnu-box-bin,
.documents-mnu-boxes,
.documents-mnu-hc {
  padding-left: 12px;

  &:before {
    background: $sprite;
    content: '';
    display: inline-block;
    position: relative;
    margin-right: 5px;
  }
}

.documents-mnu-inbox {
  &:before {
    background: url('../../../img/Icons/inbox.svg');
    height: 14px;
    width: 15px;
    top: 2px;
    margin-right: 10px;
  }
}

.documents-mnu-board {
  &:before {
    background: url('../../../img/Icons/board.svg');
    height: 13px;
    width: 17px;
    top: 1px;
    margin-right: 8px;
  }
}

.documents-mnu-wallet {
  &:before {
    background: url('../../../img/Icons/wallet2000.svg');
    height: 15px;
    width: 16px;
    top: 3px;
    margin-right: 9px;
  }
}

.documents-mnu-box-private {
  &:before {
    //background: url('../../../img/Icons/private-box.svg');
    background: url('../../../img/Icons/signed-documents.svg');
    height: 14px;
    width: 14px;
    top: 3px;
    margin-right: 11px;
  }
}

.documents-mnu-box {
  &:before {
    //background: url('../../../img/Icons/private-box.svg');
    background: url('../../../img/Icons/box.svg');
    height: 14px;
    width: 14px;
    top: 3px;
    margin-right: 11px;
  }
}

.documents-mnu-boxes {
  &:before {
    background: url('../../../img/Icons/DescDocuments.svg');
    height: 15px;
    width: 17px;
    top: 3px;
    margin-right: 10px;
  }
}

.documents-mnu-hc {
  &:before {
    background: url('../../../img/Icons/account-card-details.svg');
    height: 12px;
    width: 16px;
    top: 3px;
    margin-right: 9px;
  }
}

.documents-mnu-box-bin {
  &:before {
    background-position: -74px -282px;
    height: 14px;
    width: 15px;
    top: 2px;
    margin-right: 9px;
    margin-left: 1px;
  }
}

/* === Documents End === */

/* === Photos Start === */
.photos-gallery {
  display: flex;
  flex-wrap: wrap;
}

.photos-image {
  padding-left: 5px;

  img {
    width: 100px;
    height: 100px;
    padding-bottom: 5px;
  }
}

/* === Photos End === */

/* === Peoples Start === */
.infoblocks-peoples {
  min-height: 43px;

  .title-infoblocks {
    display: flex;
    padding-bottom: 7px;
    padding-right: 0;

    > div {
      display: flex;
      position: relative;
      top: -3px;
      //left: 7px;

      div {
        padding: 0 7px;
        cursor: pointer;

        span {
          font-size: 12px;
          color: #999;
          line-height: 18px;
          vertical-align: baseline;
        }
      }
    }
  }
}

.people-gallery {
  display: flex;
  flex-wrap: wrap;
}

.people-avatar {
  position: relative;
  padding-left: 5px;

  img {
    width: 100px;
    height: 100px;
    padding-bottom: 5px;
  }
}

.people-avatar-user-name {
  position: absolute;
  bottom: 5px;
  width: 92px;
  font-size: 12px;
  padding: 4px;
  padding-top: 10px;
  color: #fff;
  background: linear-gradient(transparent, rgba(0, 0, 0, .7));
}

.people-tab-active {
  font-weight: 500;

  span {
    font-family: "Roboto", Arial, sans-serif;
  }
}

/* === Peoples End === */

@media (max-width: 1200px) {
  .infobloks {
    flex: 0 0 290px;
  }

  .photos-image {

    img {
      width: 90px;
      height: 90px;
      padding-bottom: 5px;
    }
  }

  .people-avatar {

    img {
      width: 90px;
      height: 90px;
      padding-bottom: 5px;
    }
  }

  .people-avatar-user-name {
    width: 82px;
  }

}
