/* === Import Variables === */
@import "../../theme/vars";

.book-nav {
  // align-self: center;
  // position: absolute;
  // left: calc(50% - 260px);
  // top: 15px;
  a {
    &:hover, &.active {
      text-decoration: none;
      border-bottom: 0;
    }
  }
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    vertical-align: top;
  }
}

.subbooks-icon {
  background: url('../../img/Icons/subbooks.svg');
  height: 16px;
  width: 16px;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.infobloks-book {
  background: #fff;
  //border: 1px solid $border-color;
  min-height: 80px;
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
  padding: 10px 15px 8px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  border: none;
  box-sizing: border-box;

  &:hover {
    .book-settings {
      display: flex;
    }
    .book-settings-edit {
      display: block;
    }
  }

  .title-infoblocks {
    padding: 15px 0;
  }

  .photos-gallery {
    margin: 0 -15px;
  }

  .user {
    display: flex;

    img {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 27px;
      height: 27px;
    }

    span {
      padding-left: 8px;
      font-size: 14px;
      line-height: 28px;
    }

    &:focus {
      text-decoration: none;
      color: #333;
    }
  }

  .title {
    padding: 12px 0;
    display: flex;
    //margin-top: 20px;
    justify-content: space-between;

    h5 {
      font-size: 30px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 290px;
      display: inline-block;
      line-height: 30px;
      color: #555;
    }

    .btn-following-book {
      margin: 0;
      width: 125px;
      height: 25px;

      > div {
        width: 98px;
      }
    }
  }

  .book-description {
    margin-top: 10px;
    div {
      font-size: 14px;
      overflow: hidden;
      width: 290px;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #555;
    }
  }

  .book-counter {
    //padding: 3px 3px 0 3px;
    //margin-right: 5px;
    margin-top: 10px;
    color: #555;

    ul {
      display: flex;
    }

    li {
      font-size: 12px;
      padding: 0 5px;
      //margin-top: 20px;
      //padding-bottom: 5px;
    }

    .followers {
      a {
        display: inline-block;
        padding-right: 5px;

        img {
          width: 23px;
          height: 23px;
        }
      }
    }

    .photos {
      img {
        padding-right: 5px;
        width: 48px;
        height: 48px;
      }
    }
  }

  .infobook-icon-visibility {
    background: url('../../img/Icons/book.svg');
    display: inline-block;
    position: relative;
    height: 10px;
    width: 12px;
    top: 1px;
    margin-right: 5px;
  }

  .btn-following-book {
    width: 135px;
    height: 25px;
    margin: 10px 0px;

    > div {
      width: 110px;
    }
  }
}

.subbooks-icon-sm {
  background: url('../../img/Icons/subbooks-sm.svg');
  height: 10px;
  width: 13px;
  display: inline-block;
}

.photos-icon-sm {
  background: url('../../img/Icons/photos-sm.svg');
  height: 10px;
  width: 13px;
  display: inline-block;
}

.followers-icon-sm {
  background: url('../../img/Icons/people-sm.svg');
  height: 10px;
  width: 14px;
  display: inline-block;
}

.stories-icon-sm {
  background: url('../../img/Icons/stories-sm.svg');
  height: 10px;
  width: 8px;
  display: inline-block;
}

.books-photos-gallery {
  img {
    width: 48px;
    height: 48px;
  }
}

.books-followers-gallery {
  img {
    width: 32px;
    height: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
}

.infobloks-book-others {
  padding-top: 0;
}

.navigation-bookpage-fixed {
  width: 1170px;
  left: calc(50% - 585px);
}

.infobloks-book-fixed {
  position: fixed;
  top: 52px;
  width: 320px;
  box-sizing: border-box;
}

.wrapper-infoblock {
  width: 320px;
  position: fixed;
  top: 112px;
}

.book-info {
  ul {
    list-style: none;

    li {
      background: $gray;
      color: #fff;
      display: inline-block;
      padding: 3px 3px 0 3px;
      margin-right: 5px;
    }
  }

  hr {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

.coverBook {
  height: 130px;
  margin: -10px -15px;
  background-size: cover;
}

.book-icon-visibility,
.book-icon-stories,
.book-icon-subbooks,
.book-icon-followers {
  &::before {
    content: "";
    display: inline-block;
    background: $sprite;
    margin-right: 3px;
  }
}
.book-icon-visibility {
  &::before {
    background-position: 0px -257px;
    width: 16px;
    height: 16px;
    margin-left: 2px;
    position: relative;
    top: 2px;
  }
}
.book-icon-stories {
  &::before {
    background-position: -16px -239px;
    width: 14px;
    height: 16px;
    margin-right: 5px;
  }
}
.book-icon-subbooks {
  &::before {
    background-position: -30px -135px;
    width: 16px;
    height: 16px;
  }
}
.book-icon-followers {
  &::before {
    background-position: -61px -97px;
    width: 16px;
    height: 16px;
  }
}


.book-quantity {
  font-weight: bold;;
  text-transform: uppercase;
  color: $gray;
  margin: 10px 0;
}


.book-settings {
  display: none;
  position: relative;
}

.book-settings-access,
.book-settings-edit {
  i {
    background: $sprite;
    content: '';
    display: inline-block;
    margin-right: 8px;
  }
}
.book-settings-access {
  display: flex;
  i {
    height: 13px;
    vertical-align: middle;
    background-position: -74px -377px;
    width: 11px;
  }

  .open > .dropdown-menu {
    display: block;
    position: static;
    margin-top: 25px;
    margin-left: -18px;
    float: none;
    border: none;
    box-shadow: none;
  }

  .btn {
    padding: 0;
    border: 0;
  }
}

.book-settings-edit {
  position: absolute;
  right: 5px;
  display: none;

  a {
    color: $gray;
    cursor: pointer;

    &:hover {
      color: $gray;
    }
  }
  i {
    width: 12px;
    height: 12px;
    background-position: -160px -226px;
  }
}


.book-settings-access-dropdown {
  margin-top: 10px;

  button {
    font-weight: 500;
  }

  .dropdown {
    width: 100%;
  }

  .dropdown-menu {
     margin-left: 0 !important;
  }

  .book-element-wrapper {
    display: flex;

    .radio {
      padding-right: 10px !important;
    }
  }

  .channel-form {
    display: flex;
    justify-content: space-between;
  }

  .btn-toolbar {
    width: 100%;
  }

  .wrapper-block-radio {
    input[type="text"] {
      height: auto;
      font-size: 13px;
      padding: 7px 8px;
      width: 555px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 2px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
  }

  .block-radio {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
    }

    label {
      display: flex;
    }
    p {
      padding: 0 8px 0 0;
    }
  }
}

.book-settings-access {
  .block-radio {
    label {
      display: flex;
    }
  }
}

.book-settings-access,
.book-other-settings-dropdown,
.book-settings-access-dropdown {
  input[type="checkbox"],
  input[type="radio"] {
    display: none;
  }

  input[type="checkbox"] + label span {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 0 7px 0 -2px;
    cursor: pointer;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, .05);
    border: 1px solid rgba(155, 155, 155, .57);
  }

  input[type="checkbox"]:checked + label span {
    background: url(../../img/Icons/checkmark.png) -6px repeat;
  }

  input[type="radio"] + label span {
    display: inline-block;
    background-color: rgba(255,255,255,.05);
    border: 1px solid rgba(155,155,155,.57);
    height: 11px;
    margin: 2px 7px 0 -2px;
    width: 11px;
    border-radius: 50%;
    cursor: pointer;
  }

  input[type="radio"]:checked + label span {
    width: 7px;
    height: 7px;
    background: #666666;
    display: inline-block;
    border-radius: 50%;
    top: 5px;
    right: -2px;
    position: relative;
    margin-right: 11px;

    &::after {
      content: '';
      display: inline-block;
      background-color: rgba(255,255,255,.05);
      border: 1px solid rgba(155,155,155,.57);
      height: 13px;
      margin: 2px 12px 0 -3px;
      width: 13px;
      border-radius: 50%;
      position: relative;
      top: -5px;
    }
  }
}


.book-other-settings-dropdown {
  .book-element-wrapper {
    display: block;
  }

  .channel-form {
    display: block;
  }

  .export-checkbox {
    margin: 0 15px 0 5px;

    &::before {
      content: '';
      display: block;
      background: url('../../img/Icons/export.svg');
      width: 16px;
      height: 16px;
      //position: absolute;
      left: -23px;
      z-index: 1;
      top: 4px;
    }
  }

  .import-checkbox {
    margin: 0 15px 0 5px;

    &::before {
      content: '';
      display: block;
      background: url('../../img/Icons/import.svg');
      width: 16px;
      height: 16px;
      //position: absolute;
      left: -23px;
      z-index: 1;
      top: 4px;
    }
  }

  .wrapper-checkbox {
    display: flex;
  }

}

.bookPage-1170 {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  background: #fff;

  .infobloks-book {
    position: relative;

    footer {
      bottom: 10px;
      position: absolute;
      width: 310px;
    }
  }
}

.subheader-bookpage {
  width: 830px;
  height: 281px;
  float: right;

  &:hover {
    .subHeader-cover {
      opacity: 1;
    }
  }

  .subHeader-cover {
    left: calc(50% - 220px);
    opacity: 0;
    top: 70px;
  }
}

.wrapper-bookpage-fixed {
  position: fixed;
  top: 112px;
}


.book-subbooks {
  margin: 8px 0;
  text-transform: uppercase;
  font-weight: 500;
}


.book-list-label {
  padding-top: 0 !important;
  strong {
    font-weight: normal;
  }
}

.book-element-wrapper {
  padding-bottom: 10px;
  .radio {
    min-height: 0 !important;
    padding: 0 !important;
  }
}

@media only screen and (max-width: 1200px) {
  .infobloks-book {
    padding: 10px 7px 8px;
  }
}
