@import "../../../styles/vars";

.auth {
  .registration-forgot {
    float: right;
    padding-top: 15px;
  }

  .easy-divider {
    margin-top: 50px;
  }

  .registration-xs-title {
    padding-bottom: 30px;
  }
}
