//@import "../../styles/vars";

.photos {

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    position: relative;
  }

  .affix {
    position: relative;
    top: 100px;
  }
}


.photos-img {
  height: 207px;
  margin: 0 20px 20px 0;
  img {
    width: 207px;
    height: 207px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    //margin: 3px;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }
}

// .photos-lists {
//   margin: 0 auto;
//   max-width: 900px;
// }
