.main-page {
  padding: 20px 0;

  > .wrapper {
    display: flex;
    > div {
      //display: block;
      float: left;
    }
    .mid-column {
      position: relative;
      left: calc(50% - 296px);
      display: flex;
    }
  }
}


.left-column {
  width: 220px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100% - 100px);
  left: calc(50% - 590px);
  position: fixed;
  margin-top: -10px;
}


@media all and (max-width: 991px) {
  .left-column {
    display: none;
  }

  .follow-block {
    display: none;
  }

}
