.main-page {
  padding: 20px 0;

  > .wrapper {
    display: flex;
    width: 1170px;
    margin: 0 auto;

    > div {
      //display: block;
      float: left;
    }

    .mid-column {
      //position: relative;
      //left: calc(50% - 296px);
      display: flex;
    }
  }
}


.left-column {
  width: 295px;
  overflow-y: auto;
  overflow-x: hidden;
  //max-height: calc(100% - 100px);
  //left: calc(50% - 590px);
  //position: fixed;
  //margin-top: -10px;

  .leftpanel-menu {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
  }
}


@media all and (max-width: 991px) {
  .left-column {
    display: none;
  }

  .follow-block {
    display: none;
  }

}
