@import "../../theme/vars";

.books {
  .wrapper {
    // padding: 20px;
    // display: flex;
    // flex-wrap: wrap;
    width: 90%;

    span {
      transition: all 0s ease 0s !important;
    }
  }
}

.book {
  width: 150px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  border-radius: 6px;
  padding: 10px 10px;
  margin: 0 20px 20px 0;
  align-self: baseline;

  &:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  }

  .wrap-bookstree {
    left: 0px;
    width: 160px;
  }

  .bookstree-title {   //TEST
    display: none;
  }

  .react-tree {
    margin-left: -10px;
  }

  .react-tree-item-label  {
    padding-left: 15px !important;

    .react-tree-expander,
    .react-tree-expander_close {
      left: 0px !important;
    }
  }


}

.book-title {
  word-wrap: break-word;
  overflow: hidden;
  color: $default-color;
  font-family: $font-bold;
  font-size: 14px;
  padding: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-content {
  background-color: #E9E9E9;
  height: 150px;
  margin: 10px 0;
}

.book-btn {
  font-size: 13px;
  font-family: $font-bold;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  background: #fff;
  color: #404040;
  cursor: pointer;
  text-align: center;
  line-height: 25px;
  &:hover {
    border: 1px solid #b8b8b8;
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
  }
}


.sidebar-books {
  width: 200px;

  .wrap-bookstree {
    left: 0;
    width: 200px;
  }
}
