@import "./vars";

/* === Mixins === */
@mixin title-medium-default($size: 16px) {
  font: {
    weight: normal;
    family: $font-medium;
    size: $size;
  }
  color: $default-color;
}

@mixin title-nav {
  font-family: $font-medium;
  font-size: 13px;
  color: $gray;
  text-transform: uppercase;
}

@mixin material {
  border-radius: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  border: 1px solid #D8D8D8;
}
