/**
 *
 *  Define scss variables here.
 *
 */

$sprite: url('http://validbook.org/images/main_sprite.png') no-repeat;

/* === Colors === */
$brand: #094AB2;
$brand-hover: #2887D2;
$link-color: #2962FF;

$default-bg: #EEE;
$bg-hover: #E1E1E1;

$default-color: #333;            //main text color

$gray-light: #AFB4BD;            //some icons and text
$gray-light-hover: #8C9097;
$gray: #8F8F8F;                  //some icons and accent border
$border-color: #D9D9D9;
$border-hover-color: #B8B8B8;
/* === Colors End === */


/* === Fonts === */
  //Main fonts
$font-bold: "Roboto Bold", Arial, sans-serif;
$font-medium: "Roboto Medium", Arial, sans-serif;

  //Secondory fonts
$font-Hind: "Hind", Arial, sans-serif;
$font-Montserrat: "Montserrat";
/* === Fonts End === */
