@import "../../theme/vars";

.header {
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
  padding: 6px 20px 5px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  width: 100%;
  display: flex;
  position: fixed;
  height: 52px;
  box-sizing: border-box;
  z-index: 11;
  top: 0;

/* -- Logo Start  -- */
  .logo {
    img {
      width: 135px;
      height: 35px;
    }
  }
}
/* -- Logo End  -- */

.wrap-loadingBar {
  height: 2px;
  width: 100%;
  background-color: #ACCBEE;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* -- Channel Name Start  -- */
.channel-name {
  color: #666;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 187px;

  &:before {
    content: '';
    height: 26px;
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #ddd;
    margin: 7px 20px 14px 15px;
  }
}
/* -- Channel Name End  -- */

/* -- SearchField Start  -- */
.search-field {
  margin-left: 40px;
  margin-top: 1px;
  width: 35%;

  input {
    border: none;
    background: #f5f5f5;
    padding-left: 30px;
    height: 35px;
    font-size: 15px;
    //width: 625px;
    width: 100%;
  }

  input:focus {
    outline-color: rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.24);
    background: #fff;
  }

  span {
    display: block;
    background: $sprite;
    background-position: -78px -19px;
    height: 15px;
    width: 15px;
    position: relative;
    left: 8px;
    top: -26px;
    width: 15px;
  }
}
/* -- SearchField End  -- */

/* -- UserButtons Start  -- */
.header-navigation {
  display: flex;
  right: 15px;
  position: absolute;

  .bootstrap-pure-btn {
    &:hover,
    &:focus,
    &:active {                      //attention
      background-color: transparent !important;
      box-shadow: none !important;
    }
  }
}

.extension {
  margin-right: 45px;
  margin-top: 8px;

  button {
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    padding: 2px 10px;
    border: 1px solid #b7b4b4;
    background: 0 0;
    box-shadow: 0 0 2px #bebebe;
    color: #736f6f;
    line-height: 18px;
  }
}

.icons {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.wrap-icon-search {

  .iconSearch {
    background: $sprite;
    background-position: -78px -19px;
		height: 15px;
		width: 15px;
    display: none;
  }
}

.bubble {
  position: absolute;
  z-index: 3;
  font-size: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #C53929;
  color: #FFFFFF;
  border: 1px solid #fff;
  top: 6px;
  left: -12px;
  text-align: center;

  span {
    position: relative;
    top: 2px;
    left: -1px;
  }
}

.wrap-icon-mail {
  margin-right: 15px;
  position: relative;

  .notification-box {
    span {
      position: absolute;
      top: 35px;
      left: 70px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 275px;
    }

    a:hover {
      color: #333;
    }
  }

    //.icon-mail {
  //  background: $sprite;
  //  background-position: -129px -466px;
	//	height: 13px;
	//	width: 17px;
  //
  //  &:hover {
  //    background-position: -112px -466px;
  //  }
  //}

  button {
    border: 0;
    border-radius: 0;
    padding: 0;
    //margin-top: 2px;
    //padding-left: 5px;
    height: 13px;
    width: 17px;
    background: $sprite;
    background-position: -129px -466px;

    &:hover {
      background-position: -112px -466px;
    }
  }

  .btn-default:active,
  .btn-default.active,
  .open > .btn-default.dropdown-toggle {
    background: $sprite;
    background-position: -129px -466px;
    box-shadow: none;

    &:hover {
      background-position: -112px -466px;
    }
  }

  .dropdown-menu-right {
    left: -190px;
  }

  .dropdown-menu {
    top: 32px;
    width: 350px;
    box-shadow: none;
    a {
      padding: 0 !important;
    }
  }
}

.wrap-icon-bell {
  margin-right: 30px;
  position: relative;

  .bubble {
    top: 9px;
  }

  button {
    border: 0;
    padding: 0;
    margin-top: 2px;
    padding-left: 5px;
    height: 15px;
    width: 10px;
    background: $sprite;
    background-position: -32px -486px;

    &:hover {
      background-position: -46px -486px;
    }

    &::after {
      content: '';
      cursor: default;
      border-left: 1px solid #EEE;
      height: 16px;
      position: relative;
      left: 15px;
      float: right;
    }
  }

  .btn-default:active,
  .btn-default.active,
  .open > .btn-default.dropdown-toggle {
    background: $sprite;
    background-position: -32px -486px;
    box-shadow: none;

    &:hover {
      background-position: -46px -486px;
    }
  }

  .dropdown-menu-right {
    left: -190px;
  }

  .dropdown-menu {
    top: 32px;
    width: 350px;
    box-shadow: none;

    a {
      padding: 0 !important;
    }
  }
}

.notification-box {
  padding: 5px 10px 2px;

  > div {
    display: flex;
    justify-content: space-between;

    a {
      color: $link-color;

      &:hover {
        color: $link-color;
        text-decoration: underline;
      }
    }

    i {
      padding: 0 5px;
      line-height: 12px;
    }

    h4 {
      font-weight: 500;
    }
  }

  hr {
    margin: 0 -10px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  ul {
    max-height: 465px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 -10px;

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: #aaa;
      }
    }
    @extend .scrollBar;
  }

  li {
    padding: 10px 15px;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid $default-bg;
    display: flex;

    &:hover {
      background: $bg-hover !important;
    }

    div {
      display: flex;
    }

    img {
      width: 45px;
      height: 45px;
      border-radius: 2px;
    }

    h6 {
      margin-top: 5px;
      margin-left: 10px;
      display: flex;
      font-size: 13px;
      font-weight: 400;

      b {
        font-weight: bold;
        padding-right: 5px;
      }

      span {
        padding: 0 5px;
      }

      a {
        color: $link-color;
        display: block;
        //padding-left: 5px;
        font-weight: 500;

        &:hover {
          color: $link-color;
        }
      }
    }

    p {
      position: absolute;
      color: $gray-light-hover;
      font-size: 12px;
      top: 40px;
      left: 75px;
    }
  }
}


.infouser {

  a {
    text-decoration: none;
    color: #333;
    font-weight: bold;;
  }

  span {
    vertical-align: -4px;
    margin-right: 10px;
    font-size: 13px;
  }

  img {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    margin-top: 3px;
  }
}

.profile-menu {

  button {
    background: 0;
    border: 0;
    padding: 0;
    height: 20px;
    width: 15px;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-left: 15px !important;
    margin-right: 5px;

    &::before {
      background: url('../../img/Icons/gear.svg');
      width: 15px;
      height: 15px;
      display: block;
      content: '';
    }
  }

  .dropdown-menu-right {
    top: 43px;
  }

  a {
    &:hover {
      background: $default-bg;
      color: $default-color;
    }
  }
}



/* -- UserButtons End  -- */



/* -- MinHeader  -- */
.header-sign-btn {
  position: absolute;
  right: 20px;
  top: 11px;

  button {
    cursor: pointer;
    background: $brand;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    border: 0;
    text-align: center;
    padding: 6px 12px;
    line-height: 16px;
    font-weight: 500;

    //&:hover {
    //  background: $brand-hover;
    //}
  }

  .header-sign-in {
    margin-left: 10px;
  }

  .header-sign-up {
    background-color: #5c9348;

    &:hover {
      background-color: #7ead6d;
    }
  }
}



/* -- MinHeader End  -- */


/* -- Header-Channel -- */
.name-channel {
  font-size: 18px;
  color: $gray;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 190px;
  align-self: center;
  position: relative;
  top: 2px;

  &:before {
    content: '';
    height: 26px;
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid $border-color;
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 8px;
  }
}
/* -- Header-Channel  -- */



.left-arrow {
  background: url('../../img/Icons/left.png');
  width: 32px;
  height: 32px;
  position: relative;
  top: 10px;
  left: 13px;
  cursor: pointer;
  z-index: 0;
}

.right-arrow {
  background: url('../../img/Icons/right.png');
  width: 32px;
  height: 32px;
  position: relative;
  top: 10px;
  right: 5px;
  cursor: pointer;
  z-index: 0;
}


@media only screen and (max-width: 992px) {
  .extension {
    display: none;
  }

  .header-navigation {
    right: 45px;
  }
}

@media only screen and (max-width: 1200px) {
  .search-field input {
    //width: 325px;
  }
}
