/* === Import Variables === */
@import "../../../theme/vars";
@import "../../../theme/mixins";

.stream {
  display: flex;
  flex-direction: column;
  flex: 0 0 500px;
  width: 500px;
  padding: 0 20px;
}

/* === Title Start === */

.sbox {
  background: #FFF;
  border: 1px solid $border-color;
  //flex: auto;
  position: relative;
  @include material;

  .rdw-editor-toolbar {
    width: auto;
  }

  .rdw-option-wrapper {     //icons
    min-width: 15px;
    height: 15px;
  }

  .rdw-dropdown-wrapper {
    height: 25px;
  }

  .rdw-block-dropdown {
    width: 80px;
  }

  .rdw-list-dropdown,
  .rdw-list-dropdown,
  .rdw-link-dropdown {
    width: 45px;
  }
}

.wrapper-sbox {
  //min-height: 115px;
}

.toolbar-sbox {
  padding-left: 10px;
  border: 0;
  border-bottom: 1px solid $default-bg;
  margin-bottom: 0;
}

.editor-sbox {
  width: 85%;
  position: relative;
  left: 60px;
  top: 8px;
  min-height: 60px;
}

.sbox-user-avatar {
  display: inline-block;
  position: absolute;
  left: 15px;
}

.sbox-footer {
  background: $default-bg;
  padding: 10px 15px;
  border-top: 1px solid $border-color;
  display: flex;
  justify-content: space-between;

  .btn-brand {
    width: 45px;
    height: 13px;
    line-height: 13px;
  }

  i {
    background: $sprite;
    display: inline-block;
    width: 16px;
    height: 15px;
    background-position: -61px -426px;
    position: relative;
    top: 2px;
  }

  span {
    font-size: 10px;
    color: $gray;
    cursor: pointer;
    margin-right: 10px;
    &:hover {
      text-decoration: underline;
    }
  }

  .bootstrap-pure-btn {
    height: 12px;
    line-height: 12px;
    border: 1px solid $border-color;
    font-size: 13px;
    padding: 5px 12px;
    padding-right: 0;
    margin-left: 10px !important;
    border-radius: 2px;

    &:hover,
    &:focus,
    &:active {
      background-color: #fff !important;
      border: 1px solid $border-color;
    }

    &:active {
      box-shadow: none !important;
    }

  }

  .btn-group.open .dropdown-toggle {
    box-shadow: none !important;
  }

  .btn-default:active, .btn-default.active,
  .btn-default:active:hover,
  .open > .btn-default.dropdown-toggle,
  .open > .btn-default.dropdown-toggle:hover,
  .open > .btn-default.dropdown-toggle:focus {
    border: 1px solid $border-color;
  }
}


/* === Post Start === */
.post {
  background: #fff;
	border: 1px solid #D8D8D8;
	border-radius: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  //min-height: 200px;
  margin-top: 20px;
  padding: 12px 10px 10px;
  @include material;
}

.post-header {
  display: flex;
  position: relative;
}

.wrap-post-user-avatar {
  display: inline-block;
}

.wrap-post-user-info{
  margin-left: 10px;
}

.post-user-name {
  margin-top: -5px;

  a {
    color: $default-color;
    font-size: 14px;
    display: block;
    margin-top: 2px;
    font-family: $font-medium;
  }
}

.post-delimiter {
  padding: 0 10px;
}

.post-details {
  margin-top: 5px;
  font-size: 11px;
  color: #777;
  display: inline-flex;
}

.post-details-icon-loud,
.post-details-icon-visibility {
  span {
    display: block;
    background: $sprite;
  }
}

.post-details-icon-loud {
  position: relative;
  top: -1px;

  span {
    background-position: -155px -206px;
    width: 14px;
    height: 15px;
  }
}
.post-details-icon-visibility {
  width: 25px;
  position: relative;
  top: 1px;

  span {
    background-position: -161px -483px;
    width: 11px;
    height: 12px;
  }
}

.post-details-visibility-dropdown {
  position: relative;
  top: -3px;

  button {
    background: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
  }
}

.wrap-post-story-dropdown {
  position: absolute;
  right: 0px;
  top: 5px;

  button {
    background: 0;
    border: 0;
    padding: 0;
    cursor: pointer;

    &::before {
      background: $sprite;
      background-position: -22px -111px;
      width: 18px;
      height: 17px;
      display: block;
      content: '';
    }
  }

  a {
    padding: 8px 8px !important;
  }
}


// .caret {
//   display: inline-block;
//   width: 0;
//   height: 0;
//   vertical-align: top;
//   border-top: 4px solid #aaa;
//   border-right: 4px solid transparent;
//   border-left: 4px solid transparent;
//   content: "";
// }


.post_content {
  margin-top: 15px;
}

.wrap_post_content {
  width: 100%;
  height: 100%;
  overflow-wrap: break-word;
}


.post_footer {
  border-top: 1px solid #eee;
  margin-top: 15px;
  padding-top: 5px;
  display: flex;
  position: relative;

  a {
    color: #999;
    font-size: 12px;
    font-family: $font-medium;
  }
}

.post_action_icon {
  background: $sprite;
  display: inline-block;
  margin-right: 5px;
}

.post_like {

  i {
    background-position: -28px -20px;
    height: 12px;
    width: 13px;
  }
}

.post_comment {
  margin: 0 25px;

  i {
    background-position: -15px -19px;
    height: 12px;
    width: 12px;
  }
}
.post_log {

  i {
    height: 13px;
    width: 16px;
    background: url('http://devianmbanks.validbook.org/images/svg-icons/log.svg') center no-repeat;
  }
}

.post_share {
  position: absolute;
  right: 0;

  i {
    height: 15px;
    width: 14px;
    margin: 0 3px 0 0;
    vertical-align: middle;
    background: url('http://devianmbanks.validbook.org/images/svg-icons/share.svg') center no-repeat;
  }
}
  /* === Post Content Type Start === */
.post_content_type_text {

  p {
    font-size: 14px;
    color: #333;
    line-height: 1.6em;
    //word-break: break-word;
    margin: 5px 0;
  }
}

.post_content_type_link,
.post_content_type_link_short {
  border-radius: 2px;
  border: 1px solid #E0DDDD;
}

.wrap_link_preview {
  border-top: 1px solid #E0DDDD;
  padding: 0 10px;
}

.post_content_type_image {
  margin: 10px 0;
}

.link_preview_image, .post_content_type_image {

  img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    //width: 476px;
  }
}

.link_preview_title {
  font-size: 16px;
  line-height: 22px;
  overflow: hidden;
  color: #262A35;
  margin: 10px 0;
  max-height: 110px;
}

.link_preview_description {
  font-size: 12px;
  color: #111;
  line-height: 16px;
  max-height: 80px;
  overflow: hidden;
}

.link_preview_url {
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  color: #90949c;
  margin: 7px 0 10px;
}


.post_content_type_link_short {
  margin-top: 10px;
  a {
    display: block;
  }
}

.wrap_content_type_link_short {
  display: flex;
}

.link_preview_image_short {

  img {
    display: block;
    max-width: 100%;
    width: 168px;
  }
}

.wrap_link_preview_short {
  padding: 0 10px;
  width: 290px;
}


.post_content_type_gallery {
  margin: 0 -5px;
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
}
.content_gallery_image {
  flex: auto;
  width: 200px;
  margin: 2px 5px;

  img {
    width: 100%;
    height: auto;
  }
}

  /* === Post Content Type End === */

/* === Post End === */

@media all and (max-width: 1200px) {

  .stream {
    flex: 0 0 450px;
    width: 450px;
  }

}

@media all and (max-width: 991px) {

  .stream {
    flex: 0 0 520px;
    width: 520px;
  }

  .storyLine {

    .infobloks,
    .bookstree {
      display: none;
    }
  }
}

@media all and (max-width: 767px) {

  .stream {
    flex: inherit;
    width: 100%;
  }

}
