/* === Import Variables === */
@import "../../../theme/vars";
@import "../../../theme/mixins";

.stream {
  display: flex;
  flex-direction: column;
  flex: 0 0 550px;
  width: 550px;
  max-width: 550px;
  padding: 0 20px;
  margin-left: 220px;
}

/* === Title Start === */

.sbox {
  background: #FFF;
  margin-bottom: 20px;
  position: relative;
  @include material;

  .rdw-editor-toolbar {
    width: auto;
  }

  .rdw-option-wrapper {     //icons
    min-width: 15px;
    height: 15px;
  }

  .rdw-dropdown-wrapper {
    height: 25px;
  }

  .rdw-block-dropdown {
    width: 80px;
  }

  .rdw-list-dropdown,
  .rdw-list-dropdown,
  .rdw-link-dropdown {
    width: 45px;
  }

  .btn-brand {
    background: #5c96d0;
  }
}

.wrapper-sbox {
  //min-height: 115px;
}

.toolbar-sbox {
  padding-left: 10px;
  border: 0;
  border-bottom: 1px solid $default-bg;
  margin-bottom: 0;
}

.editor-sbox {
  width: 85%;
  position: relative;
  left: 65px;
  top: 12px;
  min-height: 70px;
}

.sbox-user-avatar {
  display: inline-block;
  position: absolute;
  left: 15px;

  img {
    width: 32px;
    height: 32px;
  }
}

.sbox-footer {
  background: #f5f5f5;
  padding: 10px 20px;
  border-top: 1px solid $border-color;
  display: flex;
  justify-content: space-between;

  .btn-brand {
    min-width: 22px;
    height: 13px;
    background: #5c96d0;
    line-height: 13px;
    border: 0;
    padding: 5px 25px;
    opacity: 1;
  }

  .camera {
    height: 20px;
    cursor: pointer;

    i {
      background: $sprite;
      display: inline-block;
      width: 16px;
      height: 15px;
      background-position: -61px -426px;
      position: relative;
      top: 2px;
    }
  }

  span {
    font-size: 10px;
    color: $gray;
    cursor: pointer;
    margin-right: 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  .dropdown-menu {
    padding: 5px 0;
  }

  .sbox-booktree {
    width: 225px;

    .react-tree {
      padding: 0;
    }

    .bookstree {
      .draggable-demo {
        margin-left: 0;
      }
    }

    a {
      padding: 0 !important;
      padding-left: 15px !important;
      display: inherit;
    }

    label {
      margin-top: -7px;
      margin-left: -3px;
      position: absolute;
      min-width: 190px;
      padding-top: 10px;
      height: 22px;
      cursor: pointer;
    }

    span {
      &:hover {
        text-decoration: none;
      }
    }

    .icon_bin.react-tree-treenode-disabled {
      display: none;
    }

    input[type="checkbox"] {
      position: absolute;
      left: -1px;
    }

    .react-tree li .react-tree-item-label:hover {
      background-color: #eeeeee;
    }

    .react-tree-expander,
    .react-tree-expander_close,
    .react-tree-expander_open {
      margin-left: -20px !important;
      width: 35px !important;
    }

    .react-tree-expander_open::before {
      margin-left: 12px !important;
    }

    .react-tree-expander_close::before {
      margin-left: 11px !important;
    }

    .not_drag,
    .react-tree-treenode-disabled {
      input[type="checkbox"] {
        left: 35px;
      }
    }

    .react-tree li .react-tree-item-label .react-tree-expander {
      width: 30px;
    }
    .react-tree li .react-tree-item-label .react-tree-expander-noop {
      width: 0;
    }
  }

  .bootstrap-pure-btn {
    height: 12px;
    line-height: 12px;
    border: 1px solid $border-color;
    font-size: 13px;
    padding: 5px 0 5px 10px;
    margin-left: 10px !important;
    border-radius: 2px;
    background-color: #fff;

    &:hover,
    &:focus,
    &:active {
      background-color: #fff !important;
      border: 1px solid $border-color;
    }

    &:active {
      box-shadow: none !important;
    }

  }

  .sbox-dropdown-btn {
    display: flex;
    padding: 5px 0 5px 5px;

    span.caret {
      margin-top: 5px;
      margin-right: 5px;
    }

    .dropdown-btn-icon {
      margin-top: -5px;
      margin-right: 5px;
    }

    .loud_book_icon {
      margin-top: 0;
      margin-right: 5px;
    }

    .public_icon,
    .private_icon,
    .custom_icon {
      margin-top: 0;
    }
  }

  .btn-group.open .dropdown-toggle {
    box-shadow: none !important;
    background: #fff;
  }

  .btn-default:active, .btn-default.active,
  .btn-default:active:hover,
  .open > .btn-default.dropdown-toggle,
  .open > .btn-default.dropdown-toggle:hover,
  .open > .btn-default.dropdown-toggle:focus {
    border: 1px solid $border-color;
  }

}

/* === Icons Start === */

.quiet_log_icon,
.loud_log_icon,
.post_fb_icon,
.post_twitter_icon {
  background: $sprite;
  display: inline-block;
  width: 17px;
  height: 16px;
}

.quiet_log_icon {
  background-position: -160px -156px;
}

.loud_log_icon {
  background-position: -160px -138px;
}

.loud_book_icon {
  background: url('../../../img/Icons/loudspeaker-in-book.svg') no-repeat;
  width: 15px;
  height: 16px;
  margin-top: 4px;
  margin-left: 2px;
}

.post_fb_icon {
  background-position: -154px -191px;
}

.post_twitter_icon {
  background-position: -168px -191px;
}

.public_icon,
.private_icon,
.reset_icon {
  background: $sprite;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-top: 4px;
}

.public_icon {
  background-position: -163px -530px;
}

.private_icon {
  background-position: -176px -530px;
}

.custom_icon {
  background: url('../../../img/Icons/gear.svg') no-repeat;
  width: 12px;
  height: 12px;
  margin-top: 4px;
  display: inline-block;
}

.reset_icon {
  background-position: -142px -518px;
  height: 11px;
  width: 11px;
  margin-top: 5px;
}

/* === Icons End === */

.sbox-visibility {
  width: 190px;
}

.sbox-logging {
  width: 210px;
}

.sbox-logging, .sbox-visibility {
  li {
    line-height: 22px;
    position: relative;
    height: 36px;
    cursor: pointer;

    &:hover {
      background-color: #eeeeee;
    }

    > div {
      display: flex;
      padding: 6px 6px 6px 10px;

      div {
        display: flex;
        margin-left: 20px;
      }
    }

    label {
      margin-top: -8px;
      position: absolute;
      min-width: 190px;
      padding-top: 10px;
      cursor: pointer;
    }

    p {
      padding-left: 7px;
    }
  }
}


  /*
  STYLE CHECKBOX
   */
.sbox-booktree,
.sbox-logging,
.sbox-visibility,
.checkboxStyles {
  input[type="checkbox"],
  input[type="radio"] {
    display: none;
  }

  input[type="checkbox"] + label span {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 0 7px 0 -2px;
    cursor: pointer;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, .05);
    border: 1px solid rgba(155, 155, 155, .57);
  }

  input[type="checkbox"]:checked + label span {
    background: url(../../../img/Icons/checkmark.png) -6px repeat;
  }

  input[type="radio"] + label span {
    display: inline-block;
    background-color: rgba(255,255,255,.05);
    border: 1px solid rgba(155,155,155,.57);
    height: 11px;
    margin: 2px 7px 0 -2px;
    width: 11px;
    border-radius: 50%;
    cursor: pointer;
  }

  input[type="radio"]:checked + label span {
    width: 7px;
    height: 7px;
    background: #666666;
    display: inline-block;
    border-radius: 50%;
    top: 2px;
    right: -2px;
    position: relative;
    margin-right: 11px;

    &::after {
      content: '';
      display: inline-block;
      background-color: rgba(255,255,255,.05);
      border: 1px solid rgba(155,155,155,.57);
      height: 13px;
      margin: 2px 12px 0 -3px;
      width: 13px;
      border-radius: 50%;
      position: relative;
      top: -5px;
    }
  }
}

.sbox-visibility {
  input[type="checkbox"] + label span {
    border: 0;
  }
}
  /*
  STYLE CHECKBOX
   */

/* === Post Start === */
.post {
  background: #fff;
	border: 1px solid #D8D8D8;
	border-radius: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  min-height: 100px;
  margin-bottom: 20px;
  padding: 15px 20px;
  @include material;
  //transition: all 1s ease-in-out;  //delete
  //transform: translate(0,20px);
}

.post-header {
  display: flex;
  position: relative;
}

.wrap-post-user-avatar {
  display: inline-block;

  .post-user-avatar {
    width: 46px;
    height: 46px;
    border: 1px solid #dddddd;
    border-radius: 50%;
  }
}

.wrap-post-user-info{
  margin-left: 10px;
}

.post-user-name {
  margin-top: 6px;

  a {
    color: $default-color;
    font-size: 14px;
    display: block;
    //margin-top: 2px;
    font-weight: 500;
  }
}

.post-delimiter {
  padding: 0 3px;
}

.post-details {
  margin-top: 5px;
  font-size: 11px;
  color: #777;
  display: inline-flex;
}

.post-details-date {
  position: relative;
  cursor: pointer;
  width: 65px;

  &:hover {
    text-decoration: underline;

    .block-additional-date {
      display: block;
    }
  }

  .block-additional-date {
    display: none;
  }

}

.block-additional {
  position: absolute;
  background: #fff;
  color: #333;
  border: 1px solid #ccc;
  padding: 6px 8px;
  border-radius: 2px;
  white-space: nowrap;
}

.post-details-loud-icon {
  position: relative;
  top: -1px;
  cursor: pointer;

  &:hover {
    .block-additional-loud {
      display: block;
    }
  }

  .block-additional-loud {
    display: none;
  }

  .loud_log_icon {
    background-position: -155px -206px;
    width: 14px;
    height: 15px;
  }

  .quiet_log_icon {
    background-position: -160px -158px;
    width: 16px;
    height: 16px;
  }

  .loud_book_icon {
    background: $sprite;
    background-position: -168px -176px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-top: 0;
    margin-left: 0;
    top: 1px;
    position: relative;
  }
}

.post-details-location {
  max-width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  p {
    max-width: 255px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    .myTooltip {
      opacity: 1;
    }
  }

  a {
    cursor: pointer;
    color: #777;

    &:hover {
      color: #777;
      text-decoration: underline;
    }

    &::after {
      content: ', \a0';
      display: inline-block;

    }

    &:last-child {
      &::after {
        content: none;
      }
    }
  }
}

.post-details-visibility {
  display: flex;
  border: 1px solid transparent;
  height: 15px;
  padding: 1px 3px;
  position: relative;
  top: -2px;
  cursor: pointer;

  &:hover,
  &:active {
    border-color: $gray-light;
    background-color: #f6f7f8;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }
}

.post-details-visibility-icon {
  .public_icon,
  .private_icon,
  .custom_icon {
    margin-top: 1px;
    margin-right: 4px;
  }
}

.post-details-visibility-menu {
  position: relative;
  top: -3px;

  .sbox-visibility {
    width: 300px;

    li {
      > div {
        padding-left: 15px;
      }

      label {
        margin-right: 5px;
      }
    }
  }

  button {
    background: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
  }

  .dropdown-menu {
    width: 300px;
  }

  span {
    color: $gray;
  }
}

.wrap-post-story-dropdown {
  position: absolute;
  right: 0;
  top: 5px;

  .dropdown-menu-right {
    right: -2px;
  }

  .dropdown-menu {
    min-width: 150px;

    a {
      padding: 0 !important;

      &:hover {
        color: #333;
        background: #f5f5f5;
      }
    }

    li {
      padding: 10px 25px;
      position: relative;
    }

    hr {
      margin-top: 3px;
      margin-bottom: 3px;
      border: 0;
      border-top: 1px solid #eeeeee;
      width: 150px;
    }
  }

  button {
    background: 0;
    border: 0;
    padding: 0;
    cursor: pointer;

    &::before {
      background: $sprite;
      background-position: -22px -111px;
      width: 18px;
      height: 17px;
      display: block;
      content: '';
    }
  }

  a {
    padding: 8px 8px !important;
  }

  .wrapper-popup-story{
    position: absolute;
    width: 150px;
    height: 38px;
    bottom: 0px;
  }

}


// .caret {
//   display: inline-block;
//   width: 0;
//   height: 0;
//   vertical-align: top;
//   border-top: 4px solid #aaa;
//   border-right: 4px solid transparent;
//   border-left: 4px solid transparent;
//   content: "";
// }

/* === Tooltip Start === */
#tooltipBooks,
#tooltipLike {
  .tooltip-arrow {
    left: 10% !important;
  }

  .tooltip-inner {
    text-align: left;
  }
}

.myTooltip {
  position: absolute;
  top: -25px;
  opacity: 0.5;

  .myTooltip-arrow {
    width: 0;
    height: 0;
    border-top: 7px solid #000;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid transparent;
    position: absolute;
    bottom: -13px;
    margin-left: 5px;
  }

  .myTooltip-inner{
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: left;
    background-color: #000;
    border-radius: 2px;
    font-size: 12px;
  }
}

/* === Tooltip END === */

.post-content {
  padding: 12px 0;
}

.wrap-post-content {
  width: 100%;
  height: 100%;
  overflow-wrap: break-word;
}


.post-footer {
  border-top: 1px solid #eee;
  //margin-top: 15px;
  padding-top: 6px;
  display: flex;
  position: relative;
  color: #999;
  font-size: 12px;
  font-weight: 500;
}

.post-action-icon {
  background: $sprite;
  display: inline-block;
  margin-right: 5px;
}

.post-like,
.post-like-active {
  i {
    width: 13px;
    height: 13px;
  }
}

.post-like {
  i {
    background: url("../../../img/Icons/like.svg");
  }
}

.post-like-active {
  color: #1E88E5;

  i {
    background: url("../../../img/Icons/like-active.svg");
  }
}

.post-comment {
  margin: 0 25px;

  i {
    background-position: -15px -19px;
    height: 12px;
    width: 12px;
    position: relative;
    top: 2px;
  }
}
.post-log {
  i {
    height: 13px;
    width: 16px;
    background: url('../../../img/Icons/log.svg') center no-repeat;
    position: relative;
    top: 1px;
  }
}

.post-share {
  position: absolute;
  right: 0;

  &:hover {
    .list-of-social-share {
      display: block;
    }
  }

  .post-action-icon {
    height: 15px;
    width: 14px;
    margin: 0 3px 0 0;
    vertical-align: middle;
    background: url('../../../img/Icons/share.svg') center no-repeat;
  }

  .share-facebook {
    background: #3b5998;
  }

  .share-twitter {
    background: #1da1f2;
    margin-top: 4px;
  }

  .share-facebook,
  .share-twitter {
    cursor: pointer;
    height: 17px;
    text-align: center;
    padding-top: 3px;
    border-radius: 1px;

    i {
      font-size: 13px;
      color: #fff;
    }
  }

  .list-of-social-share {
    display: none;
    position: absolute;
    width: 50px;
    height: 44px;
    background: #fff;
    z-index: 1000;
    left: 1px;
    padding: 4px 3px;
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    border: 1px solid #D8D8D8;
    cursor: auto;
    top: 20px;

    &:before {
      position: absolute;
      top: -5px;
      left: 23px;
      content: '';
      background: $sprite;
      background-position: -80px -35px;
      width: 13px;
      height: 5px;
    }
  }
}

.post-like,
.post-comment,
.post-log,
.post-share {
  cursor: pointer;
}

.post-lc {
  margin: 13px -20px -15px;
  background-color: #f5f5f5;
  height: 100%;
  border-top: 1px solid rgba(217, 217, 217, 0.6);

  .post-like-field {
    margin: 9px 20px 0 20px;
    color: #1E88E5;
    height: 30px;
    border-bottom: 1px solid #ddd;

    i {
      background: url("../../../img/Icons/like-active-sm.svg");
      width: 13px;
      height: 13px;
      position: relative;
      top: 2px;
    }

    span {
      font-size: 12px;
    }
  }
  .post-comment-field {
    min-height: 30px;
    padding: 0 20px;

    .comments {
      //border-top: 1px solid #ddd;
      //width: calc(100% - 13px);

      .show-more-comments {
        color: #1E88E5;
        font-size: 12px;
        padding-top: 8px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .reply-comment {
      margin-left: -5px;

      textarea {
        width: 100%;
      }
    }

    .new-comment,
    .reply-comment,
    .comment {
      display: flex;
      padding-top: 10px;
    }

    .new-comment {
      padding-bottom: 3px;
    }

    .comment {
      &:hover {
        button {
          opacity: 1;
          padding: 5px;
        }
      }

      .text-block {
        position: relative;
        top: -3px;
      }

      p {
        font-size: 13px;
        width: 420px;

        a {
          font-weight: bold;;
          margin-right: 10px;
        }
      }

      button {
        opacity: 0;
        border: none;
        padding: 0;

        &::before {
          background: $sprite -62px -223px;
          cursor: pointer;
          padding: 0;
          width: 6px;
          height: 15px;
          display: block;
          content: '';
        }
      }

      span {
        font-size: 11px;
      }

      .dropdown-menu {
        min-width: 140px;

        li {
          line-height: 22px;
          padding: 6px 20px;
          cursor: pointer;

          &:hover {
            background: #f5f5f5;
          }
        }

        p {
          width: auto;
        }
      }

      .reply {
        color: #1E88E5;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .date {
        color: #777;
      }
    }

    img {
      //min-width: 20px;
      width: 27px;
      height: 27px;
      border: 1px solid #ddd;
      margin-right: 6px;
      border-radius: 50%;
    }

    textarea {
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 12px;
      margin: 0;
      margin-bottom: 10px;
      padding: 5px;
      padding-left: 10px;
      width: calc(100% - 50px);
      word-wrap: break-word;
      overflow: hidden;
      display: block;
      resize: none;

      &:focus {
        outline-color: #ddd;
      }
    }
  }
}

  /* === Model Likes Start === */
.modal-likes {
  @media (min-width: 768px) {
    .modal-dialog {
      width: 400px;
      margin: auto;
      margin-top: 350px;
    }
  }
}

.people-like-card {
  margin-bottom: 24px;

  img {
    width: 32px;
    height: 32px;
    border-radius: 1px;
  }

  a {
    display: flex;

    &:hover {
      color: #333;
    }
  }

  div {
    width: 100%;
    border-bottom: 1px solid rgba(217, 217, 217, 0.6);
    margin-top: 7px;
    margin-left: 15px;
    margin-bottom: -12px;
  }
}
  /* === Model Likes Start === */


  /* === Post Content Type Start === */
.post-content-type-text {
  p {
    font-size: 14px;
    color: #333;
    line-height: 1.6em;
    //word-break: break-word;
    margin: 5px 0;
  }

  img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    min-height: 100px;
    background: #fff;
  }
}

.post-content-type-link,
.post-content-type-link-short {
  border-radius: 2px;
  border: 1px solid #E0DDDD;
}

.wrap-link-preview {
  border-top: 1px solid #E0DDDD;
  padding: 0 10px;
}

.post-content-type-image {
  //margin: 10px 0;
}

.link-preview-image, .post-content-type-image {

  img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    //width: 476px;
  }
}

.link-preview-title {
  font-size: 16px;
  line-height: 22px;
  overflow: hidden;
  color: #262A35;
  margin: 10px 0;
  max-height: 110px;
}

.link-preview-description {
  font-size: 12px;
  color: #111;
  line-height: 16px;
  max-height: 80px;
  overflow: hidden;
}

.link-preview-url {
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  color: #90949c;
  margin: 7px 0 10px;
}


.post-content-type-link-short {
  margin-top: 10px;
  a {
    display: block;
  }
}

.wrap-content-type-link-short {
  display: flex;
}

.link-preview-image-short {

  img {
    display: block;
    max-width: 100%;
    width: 168px;
  }
}

.wrap-link-preview-short {
  padding: 0 10px;
  width: 290px;
}


.post-content-type-gallery {
  margin: 0 -5px;
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
}

.content-gallery-image {
  flex: auto;
  width: 200px;
  margin: 2px 5px;

  img {
    width: 100%;
    height: 100%;
  }
}

  /* === Post Content Type End === */
.post.post-appear {
  //animation: Posts 600ms ease none;
}

@keyframes Posts {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* === Post End === */

@media all and (max-width: 1200px) {

  .stream {
    flex: 0 0 450px;
    width: 450px;
  }

}

@media all and (max-width: 991px) {

  .stream {
    flex: 0 0 520px;
    width: 520px;
  }

  .storyLine {

    .infobloks,
    .bookstree {
      display: none;
    }
  }
}

@media all and (max-width: 767px) {

  .stream {
    flex: inherit;
    width: 100%;
  }

}
