@import '../../theme/vars';

.bookstree {
  flex: 0 0 252px;

  .wrapper {
    //position: relative;
    //left: 48px;
    //width: 261px;
    //margin-left: 55px;
    //border-radius: 2px;
    //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    //border: 1px solid #D8D8D8;
    //background: #fff;
    //padding: 5px 0;
  }

  .wrapper-fixed {
    position: fixed;
    top: 115px;
  }
}

.bookstree-title {
  margin-left: 38px;
  //padding: 10px 0;

  a {
  font-weight: bold;;
  font-size: 15px;
  color: $gray;
  }
}

.create-new-book {
  //margin-left: 26px;
}

.title-new-book {
  font-size: 10px;
  cursor: pointer;
  color: $gray;
  position: relative;
}

.wrapper-popup {
  position: relative;

  &:hover {
    .add-cover-book {
      opacity: 0.8;
    }
  }

  h4 {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
  }

  .add-cover-book {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    span {
      color: #fff;
      font-size: 16px;
      text-align: center;
      display: block;
      margin-top: 15px;
    }

    input {
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      position: absolute;
    }
  }

  img {
    max-height: 120px;
    max-width: 568px;
    width: 100%;
    height: 100%;
  }
}
.book-form {
  .control-label {
    padding-top: 0 !important;
  }
  .checkbox {
    position: absolute;
    left: 5px;

    label {
      padding-left: 0;
    }

    input[type="checkbox"] {
      margin-left: 0;
      height: 15px;
      width: 15px;
    }
  }
}



@media only screen and (max-width: 1200px) {
  .bookstree {
    flex: 0 0 190px;

    .wrapper {
      width: 190px;
      margin-left: -30px;
    }
  }
}
