@import '../../theme/vars';

.bookstree {
  flex: 0 0 320px;

  .wrapper {
    //position: relative;
    //left: 48px;
    width: 250px;
    margin-left: 50px;
  }

  .wrapper-fixed {
    position: fixed;
    top: 115px;
  }
}

.bookstree-title {
  margin-left: 26px;

  a {
  font-family: $font-bold;
  font-size: 15px;
  color: $gray;
  }
}

.create-new-book {
  margin-left: 26px;

  a {
    font-size: 10px;
    text-decoration: none;
    cursor: pointer;
    color: $gray;
  }
}

.wrapper-popup {
  position: relative;
  &:hover {
    .add-cover-book {
      opacity: 0.8;
    }
  }

  h4 {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 14px;
    font-family: $font-medium;
  }

  .add-cover-book {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    span {
      color: #fff;
      font-size: 16px;
      text-align: center;
      display: block;
      margin-top: 15px;
    }

    input {
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      position: absolute;
    }
  }

  img {
    max-height: 120px;
    max-width: 568px;
    width: 100%;
    height: 100%;
  }

}


@media only screen and (max-width: 1200px) {
  .bookstree {
    flex: 0 0 190px;

    .wrapper {
      width: 190px;
      margin-left: -15px;
    }
  }
}
