@import '../../theme/vars';

.wrap-storyLine {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  //justify-content: center;

  .bookstree {
    .wrapper {
      //border-radius: 3px;
      //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
      //background: #fff;
      width: 260px;
      padding-bottom: 10px;
      overflow: hidden;
      background-color: #E1E1E1;
    }

    .bookstree-title {
      padding: 10px 0;
      //padding-top: 0;
      //padding-left: 25px;
      margin-left: 10px;
      //background: #eeeeee;
    }

    .draggable-demo {
      margin-left: -10px;
    }
  }
}
