@import '../../theme/vars';

.wrap-storyLine {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  //justify-content: center;

  .bookstree {
    .wrapper {
      border-radius: 3px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
      background: #fff;
      width: 251px;
      padding-bottom: 10px;
    }

    .bookstree-title {
      padding: 10px 0;
      padding-top: 15px;
    }
  }
}
