@import '../../theme/vars';

.storyLine {
  //background: $default-bg;
}

.wrap-storyLine {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
