.human-card {
  width: 330px;
  padding: 0 15px;
  background: rgb(255, 255, 255);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  border: 1px solid #dadada;
  position: relative;

  h1 {
    font-weight: 500;
    font-size: 14px;
    margin: 15px 0 0;
  }

  h2 {
    font-weight: bold;
    font-size: 16px;
    margin: 20px 0 12px;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  input {
    width: 100%;
    height: 31px;
    border: 0;
    border-bottom: 1px solid #e1e1e1;
    //border-radius: 2px;
    //box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-sizing: border-box;
    padding: 6px 0;
    padding-bottom: 0;
    outline: none;

    &:focus {
      border-bottom: 1px solid #4d90fe;
    }

    &::placeholder {
      color: #c3c3c3;
    }
  }

  hr {
    border: 0;
    border-top: 1px solid #e7e7e7;
    margin: 7px 0 0;
  }
}

.markdown-human-card {
  hr {
    margin-top: 0;
  }

  p {
    font-size: 13px;
  }

  p:nth-child(3) {
    cursor: text;
    padding: 20px 0 0;
    font-size: 13px;
    user-select: all;
  }

  hr:nth-child(4) {
    margin-bottom: 2px;
  }

  p:nth-child(5) {
    font-size: 12px;
    margin-top: 0;
    cursor: pointer;
  }

  p:nth-child(8) {
    cursor: pointer;
    margin: 5px 0 10px;
  }

  h1 {
    cursor: pointer;
  }

  h2 {
    cursor: text;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: normal;
    user-select: all;
  }
}

.human-card-preview {
  margin: 0;
}

.human-card-btn {
  display: flex;
  margin: 12px 0 0;

  button {
    margin-right: 10px;
  }
}

.help-human-card {
  position: absolute;
  right: 25px;

  i {
    display: block;
    background: url('../../img/Icons/help.svg');
    width: 16px;
    height: 16px;
  }
}