.document-item {
  background-color: #fff;
  border-bottom: 1px solid #c4c4c4;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
  box-shadow: 0 1px 0 rgba(0,0,0,0.07);
  color: #444;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 208px;

  &:hover {
    border: 1px solid #679fff;
  }

  .document-item-thumbnail {
    height: 269px;
    width: 208px;
  }

  .document-item-metadata-container {
    border-top: 1px solid #e2e2e2;
    padding: 10px 22px 14px 14px;
    position: relative;

    .document-item-title {
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .document-item-metadata-row {
      display: flex;
      margin-top: 5px;

      .document-item-icon {
        background: url(../img/Icons/file-document-box.svg) no-repeat;
        width: 14px;
        height: 14px; 
      }

      .document-item-created {
        font-size: 12px;
        margin-left: 12px;
        color: #808080;
      }
    }

    .document-item-show-more-container {
      position: absolute;
      right: 10px;
      top: 34%;

      .show-more-operations-icon {
        padding: 0 5px 0 5px;
        
        &:hover {
          path {
            margin: 0 auto;
            fill: #000;
          }
        } 
      }

      
    }
  }
}