@import "../../theme/vars";
@import "../../theme/mixins";

.documents-nav {
  .create-new-item {
    //padding-left: 30px;
    //padding-top: 10px;
  }

  .title {
    @include title-nav;
    padding-left: 30px;
    padding-bottom: 10px;
  }

  .sidebar-fixed {
    position: fixed;
    top: 125px;
    width: 220px;
  }

  hr {
    margin: 5px 0;
    border-top: 1px solid #e1e1e1;
  }

  .doc-buttons {
    display: flex;
    justify-content: space-between;
    //margin-bottom: 20px;

    button {
      font-size: 13px;
      font-weight: 500;
      border-radius: 2px;
      border: 1px solid #D9D9D9;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
      cursor: pointer;
      text-align: center;
      line-height: 25px;
      background: #fff;
      padding: 0 15px;
    }
  }
}

.tokens-lists {
  margin-top: 20px;
}

.wrap-boxes {
  position: relative;
  display: flex;

  .create-new-item {
    &:hover {
      a {
        text-decoration: underline;
      }
    }
  }

  &:hover {
    border-color: #8F8F8F;
    background-color: #E1E1E1;

    .create-new-item {
      display: block;
      width: 50%;
    }
  }

  a {
    width: 120px;
    height: 39px;
    display: inline-block;
  }

  .create-new-item {
    display: none;
    position: relative;

    a {
      padding-left: 15px;
      position: absolute;
      top: 12px;
    }
  }
}

.arrow-boxes {
  position: absolute;
  left: 10px;
  top: 15px;
  width: 15px;
  height: 15px;
  padding-left: 5px;

  i {
    content: '';
    display: inline-block;
    border-top: 5px solid #777777;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }
}

.arrow-boxes-close {
  position: absolute;
  left: 10px;
  top: 12px;
  width: 15px;
  height: 15px;
  padding-left: 5px;

  i {
    content: '';
    display: inline-block;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-left: 5px solid #777777;
    border-bottom: 5px solid transparent;
  }
}
.sidebar {
  .boxes-mnu {
    li {
      padding: 7px 7px 7px 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.document {
  > a {
    overflow: hidden;
    border: 1px solid #dadada;
    padding: 7px;
    float: left;
    background: #fff;
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    //margin-right: 25px;
    //margin-bottom: 25px;
    margin: 0px 20px 30px 20px;

    &:hover {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    }

    &:focus {
      text-decoration: none;
    }

    > div {
      display: block;
      background: $default-bg;
      border: 1px solid #dadada;
      //border-radius: 50%;
      -webkit-box-shadow: 0 0 2px #fff inset;
      box-shadow: 0 0 2px #fff inset;
      height: 190px;
      width: 150px;
      overflow: hidden;
      position: relative;
    }
  }

  span {
    text-align: center;
    color: $gray;
    font-size: 15px;
    display: inline-block;
    padding-left: 17px;
    padding-top: 15px;
    font-weight: bold;;
    font-style: normal;
  }

  .doc-icon {
    background: url('../../img/Icons/doc.svg');
    height: 60px;
    width: 51px;
    display: block;
    margin: 40px auto;
  }

  p {
    text-align: center;
    color: #8F8F8F;
    font-size: 15px;
  }

  .doc-sign {
    position: absolute;
    bottom: 5px;
    right: 5px;

    i {
      display: block;
      width: 9px;
      height: 10px;
      background: url('../../img/Icons/pencil.svg');
    }
  }
}

.add-token {
  > a {
    border: 1px dashed $border-hover-color;
  }

  div {
    border: 1px dashed $border-hover-color;

    &::before {
      content: '+';
      color: $gray;
      display: block;
      font-size: 40px;
      line-height: 32px;
      font-style: normal;
      text-align: center;
      margin-top: 25px;
    }
  }
}

/* === TokensExchange ===*/

.exchange {
  width: 100%;
  margin: 0 auto;
  display: flex;

  .input,
  .output {
    width: 50%;
    position: relative;

    h3 {
      text-align: center;
      font-size: 18px;
      margin-bottom: 30px;
      font-weight: 500;
    }

    .wrapper {
      padding: 0 20px;
    }
  }

  .input:after {
    display: inline-block;
    width: 1px;
    border-left: 1px solid $border-color;
    height: 300%;
    content: '';
    position: absolute;
    right: 0;
    top: 20px;
  }
}

/* === TokensExchange End ===*/

/* === AddToken ===*/

.modal-token {
  .document {
    i {
      width: 84px;
      height: 84px;
    }

    span {
      padding-left: 5px;
      font-size: 13px;
      padding-top: 22px;
    }
  }

  .modal-content {
    background: $border-color;
  }
}

.modal {
  z-index: 1040 !important;
}

.popup-body {
  background: #fff;
  margin: 20px;
  padding: 15px;
  height: 450px;

  .sbox {
    margin-top: 70px;
  }

  .btn-default {
    border: none;
    font-weight: bold;;
  }

  .dropdown-menu {
    position: static;
    margin-top: 25px;
    margin-left: 20px;
    float: none;
    border: none;
    box-shadow: none;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.token-form {
  display: flex;

  .token-form-select {
    height: 24px;
    width: 250px;
    margin-top: 25px;
    margin-left: 15px;
  }

  .token-label {
    font-size: 23px;
  }
}

.token-import {
  i {
    background: $sprite;
    display: inline-block;
    width: 16px;
    height: 15px;
    background-position: -61px -426px;
    margin-top: 10px;
  }
  a {
    font-size: 12px;
  }
}

.modal-small-token {
  .modal-content {
    height: 215px;
  }

  .wrapper {
    padding: 15px;
  }

  .btn-brand {
    float: right;
    margin-top: 20px;
  }

  .btn-cancel {
    margin-right: 20px;
  }

  .token-small-element-wrapper {
    width: calc(100% - 15px);

    .form-control {
      height: 25px;
      width: 96%;
      padding: 4px 12px;
    }
  }

  p {
    padding-top: 10px;
  }
}

.token-creators {
  display: flex;
  justify-content: space-between;

  .owner,
  .creator {
    display: flex;
  }

  .creator {
    flex-direction: row-reverse;

    h6 {
      float: right;
    }
  }

  img {
    width: 32px;
    height: 32px;
  }

  h5 {
    font-weight: 500;
  }

  h6 {
    margin-top: -14px;
  }
}

/* === AddToken End ===*/

/* === Document ===*/
.docs {
  .docs-input {
    position: fixed;
    z-index: 12;
    top: 61px;
    left: calc(50% - 595px);
    font-size: 18px;

    .input-buffer {
      position: absolute;
      top: -1000px;
      left: -1000px;
      visibility: hidden;
      white-space: nowrap;
    }

    input {
      border: 1px solid transparent;
      border-radius: 2px;
      background: #fafafa;
      height: 20px;
      line-height: 22px;
      min-width: 1px;
      padding: 2px 7px;

      &:hover {
        border-color: #e5e5e5;
      }

      &:focus {
        border: 1px solid #4d90fe;
        box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
        color: #000;
        outline: none;
      }
    }
  }

  .docs-btn {
    position: fixed;
    z-index: 12;
    right: calc(50% - 580px);
    top: 60px;
    width: 180px;
    display: flex;
    justify-content: space-between;

    //button {
    //  cursor: pointer;
    //  background: #4280ff;
    //  color: #fff;
    //  font-size: 14px;
    //  border-radius: 2px;
    //  border: 0;
    //  text-align: center;
    //  padding: 6px 12px;
    //  line-height: 16px;
    //  font-weight: 500;
    //}

  }

  .wrapper-document {
    margin: 0 auto 20px;
  }

  .toolbar-document {
    border: none;
    padding: 7px 0 0 0;
    background: #fafafa;
    position: fixed;
    z-index: 11;
    padding-left: calc(50% - 250px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  }

  .editor-document {
    width: 816px;
    background-color: white;
    height: 1056px;
    margin: 70px auto 100px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    left: calc(50% - 400px);
    padding: 25px 20px;
    box-sizing: content-box;

    .DraftEditor-root {
      margin-top: -20px;
    }
  }
}

/* === Human Card Start === */
.human-card {
  width: 330px;
  padding: 0 15px;
  background: rgb(255, 255, 255);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  border: 1px solid #dadada;
  position: relative;

  h1 {
    font-weight: 500;
    font-size: 14px;
    margin: 15px 0;
    margin-bottom: 20px;
  }

  h2 {
    font-weight: bold;
    font-size: 16px;
    margin: 20px 0 12px;
  }

  p {
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  input {
    width: 100%;
    height: 31px;
    border: 0;
    border-bottom: 1px solid #e1e1e1;
    //border-radius: 2px;
    //box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-sizing: border-box;
    padding: 6px 0;
    padding-bottom: 0;
    outline: none;

    &:focus {
      border-bottom: 1px solid #4d90fe;
    }

    &::placeholder {
      color: #c3c3c3;
    }
  }

  hr {
    border: 0;
    border-top: 1px solid #e7e7e7;
    margin: 7px 0;
  }
}

.markdown-human-card {
  hr {
    margin-top: 0;
  }

  p {
    font-size: 13px;
  }

  p:nth-child(3) {
    font-size: 13px;
    margin-bottom: 0;
    user-select: all;
  }

  hr:nth-child(4) {
    margin-bottom: 2px;
  }

  p:nth-child(5) {
    font-size: 12px;
    margin-top: 0;
    cursor: pointer;
  }

  p:nth-child(8) {
    cursor: pointer;
  }

  h1 {
    margin-bottom: 20px;
    cursor: pointer;
  }

  h2 {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: normal;
    user-select: all;
  }
}

.human-card-preview {
  margin: 0;
}

.human-card-btn {
  display: flex;
  flex-direction: column;
  margin-left: 15px;

  button {
    margin-bottom: 15px;
  }
}

.help-human-card {
  position: absolute;
  right: 25px;

  i {
    display: block;
    background: url('../../img/Icons/help.svg');
    width: 16px;
    height: 16px;
  }
}

/* === Human Card End === */

.add-new-item {
  display: flex;
  justify-content: flex-end;

  span {
    display: block;
  }

  .add-new-document {
    background-image: url(../img/Icons/add-document.svg);
    width: 11px;
    height: 14px;
  }

  .add-new-box {
    background-image: url(../img/Icons/add-box.svg);
    width: 14px;
    height: 14px;
    margin-left: 5px;
  }

}

@media only screen and (max-width: 1200px) {
  .document > a {
    margin: 0 35px 30px 35px;
  }
}
