.document-dropdown-menu {
  width: 300px;
  background: #fff;
  border: 1px solid #787878;
  top: 28px;
  left: -116px;
  position: absolute;

  div {
    margin: 5px 0 5px 15px;
    height: 20px;
  }
}