@import '../../../theme/vars';

// .mainPage-leftPanelMenu {
//   width: 250px;
// }

.nav-ul {
  font-size: 14px;

  .booktree {
    position: absolute;
    //margin-top: -38px;
    margin-left: 5px;
    width: 20px;
    height: 25px;
    padding-left: 10px;
    padding-top: 10px;
    cursor: pointer;
    z-index: 1;

    &:hover ~ .nav-a .nav-books {
      border-color: #8F8F8F;
      background-color: #E1E1E1;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-right: 5px solid transparent;
      border-left: 5px solid #777777;
      border-bottom: 5px solid transparent;
    }
  }

  .booktree-close {
    //margin-top: -37px;
    margin-left: 2px;

    &::before {
      border-top: 5px solid #777777;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-bottom: 5px solid transparent;
    }
  }
}

.nav-li {
  padding: 10px 0;
  padding-left: 26px;
  border-left: 4px solid transparent;
  cursor: pointer;

  &:hover {
    border-color: #8F8F8F;
    background-color: #E1E1E1;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

.nav-a {
  color: $default-color;
  position: relative;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $default-color;
    text-decoration: none;
  }
}

.nav-storyline {
  img {
    width: 20px;
    height: 20px;
    padding-right: 12px;
    position: relative;
  }
}

.nav-books, .nav-tokens {
  &::before {
    background: $sprite;
    content: '';
    display: inline-block;
    vertical-align: middle;
    padding-right: 32px;
    width: 16px;
  }
}

.nav-books {
  &::before {
    background-position: -86px -515px;
    height: 16px;
  }
}

.nav-tokens {
  &::before {
    background-position: 0 -197px;
    height: 11px;
  }
}
