@import "../../theme/vars";

.not-found-page {
  padding-top: 100px;
  text-align: center;

  h2 {
    font-size: 36px;
    font-weight: bold;;
  }

  h4 {
    padding: 30px 0 100px;
  }

  a {
    color: $link-color;
  }
}
